@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@import './variables/variables';

:root{
    --p-lados-1: 1.5rem;
    --p-lados-2: 2rem;
    --p-lados-3: 2.5rem;
    --top-bottom1: .5rem;
    --top-bottom2: 1rem;
    --top-bottom3: 1.5rem;

    // CORES

    --brow1: rgb(240, 232, 232);
    --background: rgb(255, 255, 255);

    // ALTURA

    --height-100: calc(100vh - 70px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    
}